<hr />
  <h3>
    <%= "#{@media_asset.media_collection.title}:" %>
    <%= "#{@media_asset.description}" %>
    <small class="pull-right">
      <%= link_to content_tag(:strong, "Back to #{@media_asset.media_collection.title}"), mc_route(@media_asset.media_collection), :class => "btn btn-mini btn-info" %>
      <%= link_to "Delete", media_asset_path(@media_asset), :method => :delete, :confirm => "Are you sure you want to delete this file?", :class => "btn btn-mini btn-danger" if @media_asset.media_collection.role.user == current_user %>
    </small>
  </h3>  
<hr />

<br>

<div class="row-fluid">
    <div class="well" style="text-align:center">
		<%= link_to("Previous", media_route(@media_asset.previous), :class => "pull-left ir-media-nav") unless @media_asset.previous.nil? %>
		<%= link_to("Next", media_route(@media_asset.next), :class => "pull-right ir-media-nav") unless @media_asset.next.nil? %>
		<hr />
        <% if @media_asset.image? %>
            <%= link_to image_tag(@media_asset.media.url(:preview)), @media_asset.media.url(:original, false) %>
            <!-- <%= link_to "Download", @media_asset.media.url(:original, false) %> -->
        <% elsif @media_asset.video? %>
            <%= content_tag(:iframe, nil, :width => 900, :height => 500, :src => "http://www.youtube.com/embed/#{@media_asset.youtube_id}", :frameborder => 0, :allowfullscreen => true) %>
        <% elsif @media_asset.audio? %>
            <%= content_tag(:iframe, nil, :width => 900, :height => 166, :scrolling => "no", :frameborder => "no", :src => @media_asset.soundcloud_embed_uri) %>
        <% end %>
    </div>
</div>


