<% if current_user.uid == @user.uid %>
    <h1>This is your portfolio for your <%= @role.name %> role, <%= current_user.first_name %>!</h1>
	<%= link_to "Back to your #{@role.role_type} page", role_route(@role) %>
<% else %>
    <h1>You're on <%= @user.name %>'s <%= @role.name %> portfolio!</h1>
	<%= link_to "Back to #{@user.name}'s #{@role.role_type} page", role_route(@role) %>
<% end %>
<%= link_to "Logout", logout_path %>