<%= content_for :title do %>
  Portfolio | IndieReel
<% end%>


<% if current_user.uid == @user.uid %>
  <div class="alert alert-info">
    <h4>This is your <%= @role.role_type %> portfolio , <%= current_user.first_name %>! <small>From here you can see your uploaded works</small></h4>
	</div>
    <h3>Portfolio</h3>
	<%= link_to "Back to your #{@role.role_type} page", role_route(@role) %>

	
	 <% if !@role.media_collections.empty? %> 
	    <% for media_collect in @role.media_collections %>
  
	      <div class="span12">
	        <div class="row-fluid">
	          <div class="span3">
	            <div class="well">
	               <h3></h3>
	                
	                <div class="row-fluid">
	                  <div class="span12">
	                    <div class="nav">
	                    
	                    <h3><%= link_to "View Collection", new_role_path %></h3>
	                    </div>
	                  </div>
	                </div>
	                <hr style="margin:10px 0px 10px 0px" />
	                <div class="btn-group">
                    <%= link_to "Edit", "#", :class => "btn btn-small" %>
                    <%= link_to "Delete", "#", :class => "btn btn-small" %>
							    </div> 
	            </div>
	          </div>
	        </div>
	      </div>
	      <% end %> 
	  <% end %> 
	      <%= link_to "Add Collection?", new_media_collection_path(:role => @role.role_type), :class => "btn btn-info btn-small" %>
  
	   
	
<% else %>
    <h1>You're on <%= @user.name %>'s <%= @role.role_type %> portfolio!</h1>
	<%= link_to "Back to #{@user.name}'s #{@role.role_type} page", role_route(@role) %>
<% end %>

