<div class="container">

  <hr/>
  <div class="row-fluid">
    <div class="span6">
        <h2>Meet the Team</h2>
    </div>
    <div class="span6">
      <h4 class="pull-right">
        <%= link_to "The Jay", meet_path(:anchor => "jay") %> | 
        <%= link_to "Kanoli", meet_path(:anchor => "kunal") %> | 
        <%= link_to "Bro-ster", meet_path(:anchor => "evan") %> | 
        <%= link_to "SCRUM MASTER", meet_path(:anchor => "amy") %> |
        <%= link_to "The Linsation", meet_path(:anchor => "sylvia") %>
      </h4>
    </div>
  </div>
  
  <hr/>
  
  <div class="row-fluid">
    <div class="span12">
      <img src="../assets/group2.jpg">
    </div>
  </div>
  
  <div class="row-fluid">
    <hr />
      <h2>As a Team</h2>
    <hr />
    <p>We are awesome</p>  
  </div>
  
  <hr/>
  
  <p>Close your eyes and click on a random link to learn more about any of our team members. If you like what you see, hit us up. We might be impressed with what you've got. Who knows?</p>
  
  <br/>
  
  <div id="centered">
    <h4>
    <%= link_to "The Bro", meet_path(:anchor => "evan") %> | 
    <%= link_to "The Jay", meet_path(:anchor => "jay") %> | 
    <%= link_to "Kanoli", meet_path(:anchor => "kunal") %> | 
    <%= link_to "Gimpy", meet_path(:anchor => "sylvia") %> | 
    <%= link_to "SCRUMMASTER", meet_path(:anchor => "amy") %>
    </h4>
  </div>
  
  <br/>
  <hr />
    
  <div class="row-fluid" id="evan">
    <div class="span4">
      <img src="../assets/evan.jpg" height="313" width="313">
    </div>
    <div class="span8">
      <div class="row-fluid">
        <h3>Evan Kawahara</h3>
      </div>
      <div class="row-fluid">
        <p>Evan Kawahara was once but a man. Borne of poor rice farmers on the island of Honshu, Japan, he spent his youth rapping (before it was cool) and flirting with the village girls. Banished as a teenager for seducing the village patriarch's daughter, he journeyed around the world, punching things and impregnating women before settling in Berkeley, California. After serving a 400 year tenure as Dean of Gender & Women's Studies, he suddenly disappeared without a word. Sightings continued for years, until he was finally seen leaping off Mount Fuji, exploding into a brilliant supernova. From that moment onward, the world was inexplicably different... as if some balance had been restored. Historians have tried to document Kawahara's life; their attempts can be found <a href="http://www.youtube.com/watch?v=ZG_AZQJgz8w">here</a> and <a href="http://www.youtube.com/watch?v=sbRom1Rz8OA">here</a>. His final mortal contribution to Earth was a website for indie movie professionals to connect and find each other.</p>
        <p> Now, in the end, one must realize that Evan is no longer just a man, but a culmination of the human spirit. "He" is the profound mixture of our hopes, dreams, desires, and emotions: our greatest ambitions, our most righteous goods, and our most wicked evils. Look deep inside yourself. Buried under your consciousness, Kawahara is there. He's probably also your father.</p>
      </div>
    </div>
  </div>
      
  <hr />
      
  <div class="row-fluid" id="jay">
    <div class="span8">
      <div class="row-fluid">
        <h3 class="pull-right">Jay Kim</h3>
      </div>
      <div class="row-fluid"> 
      </div>
    </div>
    <div class="span4">
      <img class="pull-right" src="../assets/jay.jpg" height="313" width="313">
    </div>
  </div>
  
  <hr />

  <div class="row-fluid" id="kunal">
    <div class="span4">
      <img src="../assets/kunal.jpg" height="313" width="313">
    </div>
    <div class="span8">
      <div class="row-fluid">
        <h3>Kunal Mehta</h3>
      </div>
      <div class="row-fluid">
        <p> Kunal Mehta truly embodies the underdog story.  Born into poverty in the Slums of Shaolin, Kunal never had a shot at a formal education of any sort.  By the age of 6, Kunal had been kicked out of school and was forced to survive solely on his wits, natural charm, and dashing good looks.  He made his living hustling tourists and visitors in improvised dance-offs.  Unfortunately, at the tender age of 12, Kunal’s operation had been shut down by the local law enforcement.  Forced to find a new way to survive, Kunal’s story takes an uplifting turn; Kunal began picking up computer science by offering “safety services” to local residents who needed protection.  Kunal would perform ocular patdowns and intimidate would-be ne’er-do-wells with his muscular physique – in exchange for these services, Kunal received small bits of programming knowledge from his clients.  Ultimately, Kunal was able to pick up enough computer science know-how to infiltrate the rapidly-aging Telebears system, and enroll in classes at UC Berkeley.  Here he currently resides, protecting the weak and fragile citizens of Berkeley, coding like a boss, and sharing his story of success with others. </p>  
      </div>
    </div>
  </div>
  
  <hr />

  <div class="row-fluid" id="sylvia">
    <div class="span8">
      <div class="row-fluid">
        <h3 class="pull-right">Sylvia Lin</h3>
      </div>
      <div class="row-fluid">
        <p>Don't touch me. I bite. </p>  
      </div>
    </div>
    <div class="span4">
      <img class="pull-right"  src="../assets/sylvia.jpg" height="313" width="313">
    </div>
  </div>
  
  <hr />

  <div class="row-fluid" id="amy">
    <div class="span4">
      <img src="../assets/amy.jpg" height="313" width="313">
    </div>
    <div class="span8">
      <div class="row-fluid">
        <h3>Amy Kuo</h3>
      </div>
      <div class="row-fluid">
        <p> As a UC Berkeley student, I had the privilege of taking the CS169 course. As a programmer, I have learned to code faster. As a peer, I have opened my eyes more to others' views. As a person, I have become more accepting. As a friend, I realize I must challenge those I love. As the Scrum Master, I have gained much experience yet I still have a lot to learn. IndieReel would not have gotten to what it is today if it weren't for my teammates. So please, look up. Remember their faces. When you see them, think this, "This person is a hard worker and is worth knowing." Thank you. </p>  
      </div>
    </div>
  </div>

</div>
