<div class="container">

  <div class="row-fluid">
    <hr />
      <h2>Meet the Team :]</h2>
    <hr />  
  </div>
  
  <div class="row-fluid">
    <div class="span12">
      <img src="../assets/group.jpg">
    </div>
  </div>
  
  <hr/>
  
  <p>Close your eyes and click on a random link to learn more about any of our team members. If you like what you see, hit us up. We might be impressed with what you've got. Who knows?</p>
  
  <br/>
  
  <div id="centered">
  <h4>
  <%= link_to "The Bro", meet_path(:anchor => "evan") %> | 
  <%= link_to "The Jay", meet_path(:anchor => "jay") %> | 
  <%= link_to "Kanoli", meet_path(:anchor => "kunal") %> | 
  <%= link_to "Gimpy", meet_path(:anchor => "sylvia") %> | 
  <%= link_to "SCRUMMASTER", meet_path(:anchor => "amy") %>
  </h4>
</div>
  
  <br/>
  
  <a name="evan"></a>  
  <div class="row-fluid">
    <div class="span5">
      <img src="../assets/evan.jpg" height="391" width="391">
    </div>
    <div class="span7">
      <div class="row-fluid">
        <h3>Evan Kawahara</h3>
      </div>
      <div class="row-fluid">
        <p> alksgjk;lkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk </p>  
      </div>
    </div>
  </div>
      
  <hr />
  
  <a name="jay"></a>      
  <div class="row-fluid">
    <div class="span7">
      <div class="row-fluid">
        <h3 class="pull-right">Jay Kim</h3>
      </div>
      <div class="row-fluid">
        <p> alksgjk;lkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk </p>  
      </div>
    </div>
    <div class="span5">
      <img class="pull-right" src="../assets/jay.jpg" height="391" width="391">
    </div>
  </div>
  
  <hr />

  <a name="kunal"></a>  
  <div class="row-fluid">
    <div class="span5">
      <img src="../assets/kunal.jpg" height="391" width="391">
    </div>
    <div class="span7">
      <div class="row-fluid">
        <h3>Kunal Mehta</h3>
      </div>
      <div class="row-fluid">
        <p> alksgjk;lkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk </p>  
      </div>
    </div>
  </div>
  
  <hr />

  <a name="sylvia"></a>  
  <div class="row-fluid">
    <div class="span7">
      <div class="row-fluid">
        <h3 class="pull-right">Sylvia Lin</h3>
      </div>
      <div class="row-fluid">
        <p> alksgjk;lkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk </p>  
      </div>
    </div>
    <div class="span5">
      <img class="pull-right"  src="../assets/sylvia.jpg" height="391" width="391">
    </div>
  </div>
  
  <hr />

  <a name="amy"></a>  
  <div class="row-fluid">
    <div class="span5">
      <img src="../assets/amy.jpg" height="391" width="391">
    </div>
    <div class="span7">
      <div class="row-fluid">
        <h3>Amy Kuo</h3>
      </div>
      <div class="row-fluid">
        <p> alksgjk;lkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk </p>  
      </div>
    </div>
  </div>

  <p>We are awesome people.</p>

</div>
