<%= form_for @mc do |f| %>
	<%= f.label :title %>
	<% title_options = {:placeholder => "The name of your album"} %>
	<% title_options.merge! :disabled => "disabled" if (@mc.headshot or @mc.quickshow)%>
	<%= f.text_field :title, title_options %>
	
	<%= f.label :description %>
	<%= f.text_area :description, :placeholder => "Sum up your album in a few words", :rows => 5 %>
	
	<%= f.hidden_field :role_id %>
	
	<div class="actions">
    	<%= f.submit nil, :class => "btn btn-primary" %>
		<%= link_to "Cancel", portfolio_route(@mc.role), :class => "btn" %>
  	</div>
<% end %>
