
	<hr />
	<h3><%= "#{@role.role_type.capitalize} Portfolio for #{@role.role_name}" %>
		<small class="pull-right">
		<% if current_user.uid == @user.uid %>
		  <%= link_to content_tag(:strong, "+ Add Album?"), new_media_collection_path(:role => @role.role_type), :class => "btn btn-info btn-mini" %>
		  <%= link_to "Back to #{@role.role_type.capitalize}", role_route(@role), :class => "btn btn-mini" %>
		<% else %>
		  <%= link_to "Back to #{@role.role_name}'s #{@role.role_type.capitalize} Page", role_route(@role), :class => "btn btn-mini" %>
		<% end %>
		</small></h3>
	<hr />

	<% for album in @albums %>
	  <% if current_user.uid == @user.uid %>
		  <h5 class="page-header ir-album-header"><%= link_to album.title, mc_route(album) %><%= link_to "Edit Album", edit_mc_route(album), :class => "pull-right"%></h5>
		<% else %>
		  <h5 class="page-header ir-album-header"><%= link_to album.title, mc_route(album) %></h5>
		<% end %>
		<div class="row-fluid">
			<% for asset in album.media_assets.first(6) %>
				<div class="span2">
					<div class="well ir-media-thumbnail">
					<% if @media_asset.image? %>
						<%= link_to image_tag(@media_asset.media.url(:preview)), @media_asset.media.url %>
					<% elsif @media_asset.video? %>
						<%= @media_asset.youtube_embed_frame %>
					<% end %>
					</div>
				</div>
			<% end %>
			<% if album.media_assets.count > 6 %>
			  <%= link_to content_tag(:strong, "See More..."), mc_route(album), :class => "btn btn-mini" %>  
			<% end %>
		</div>
	<% end %>

