<script type="text/javascript">
$(function(){
  $("#quickhelp").tooltip();
  $("#headhelp").tooltip();
})
</script>
	<hr />
	<h3><%= "#{@role.role_type.capitalize} Portfolio for #{@role.role_name}" %>
		<small class="pull-right">
		<% if current_user.uid == @user.uid %>
		  <%= link_to content_tag(:strong, "+ Add Album?"), new_media_collection_path(:role => @role.role_type), :class => "btn btn-info btn-mini" %>
		  <%= link_to "Back to #{@role.role_type.capitalize}", role_route(@role), :class => "btn btn-mini" %>
		<% else %>
		  <%= link_to "Back to #{@role.role_name}'s #{@role.role_type.capitalize} Page", role_route(@role), :class => "btn btn-mini" %>
		<% end %>
		</small></h3>
	<hr />

	<% for album in @albums %>
	  <div class="row-fluid" id="<%= album.title %>">
	    <% if current_user.uid == @user.uid %>
	      <% if album.quickshow == true && album.media_assets.empty? %> 
		      <h5 class="page-header ir-album-header" ><%= link_to album.title, mc_route(album) %><%= link_to "Edit Album Info", edit_mc_route(album), :class => "pull-right"%></h5>
		      <a href="#" rel="tooltip" id="quickhelp" data-original-title="Your quickshow is the primary album for your role."> What is my quickshow?</a>		       
	      <% elsif album.headshot == true && album.media_assets.empty? %>
	        <h5 class="page-header ir-album-header" ><%= link_to album.title, mc_route(album) %><%= link_to "Edit Album Info", edit_mc_route(album), :class => "pull-right"%></h5>
	        <a href="#" rel="tooltip" id="headhelp" data-original-title="Your headshot folder displays headshots"> What is my headshot?</a>
	      <% else %> 
		      <h5 class="page-header ir-album-header" ><%= link_to album.title, mc_route(album) %><%= link_to "Edit Album Info", edit_mc_route(album), :class => "pull-right"%></h5>
		    <% end %>
		  <% else %>
		    <h5 class="page-header ir-album-header"><%= link_to album.title, mc_route(album) %></h5>
		  <% end %>
		</div>
		<div class="row-fluid">
			<% for asset in album.media_assets.first(6) %>
				<div class="span2">
				  <%= render "shared/thumbnail", :asset => asset %>
				</div>
			<% end %>
			<% if album.media_assets.count > 6 %>
			  <%= link_to content_tag(:strong, "See More..."), mc_route(album), :class => "btn btn-mini" %>  
			<% end %>
		</div>
	<% end %>

