<%= form_tag media_collections_path do %>
	<%= label_tag "mc[title]", "Title:" %>
	<%= text_field_tag "mc[title]", nil, {:placeholder => "Enter the title of your Album"} %>

	<%= label_tag "mc[description]", "Description:" %>
	<%= text_field_tag "mc[description]", nil, {:placeholder => "Describe this Album"} %>
	
	<%= hidden_field_tag "mc[role_id]", @role.id %>

	
	<p>
    Please specify a file, or a set of files to upload to this album:<br>
    <input type="file" name="datafile" size="40">
  </p>
	

	<input type="submit" value="Create Album"> <%= link_to "Cancel", portfolio_route(@role) %>
<% end %>


