<% if current_user.uid == @user.uid %>
	<div class="alert alert-info">
	    <h4>You're on your <%= @album.title %> page for <%= @role.role_type %>.<small class="pull-right"><%= link_to "Edit this Album", edit_mc_route(@album)%></small></h4>
	</div>
	<h3> <%= @album.title %> </h3>
	<h4> Description </h4>
	<ul class="unstyled">
		<li><%= @album.description %></li>
	</ul>
	<hr />
	<%= form_for @media_asset do |f| %>
		<%= f.label "Upload new media to this album." %>
		<%= f.file_field :media %>
		
		<%= f.label :description %>
		<%= f.text_field :description %>
		
		<%= f.hidden_field :media_collection_id %>
		<%= f.submit "Upload file" %>
	<% end %>
	
<% end %>
