<% if current_user.uid == @user.uid %>
	<hr />
		<h3> <%= @album.title %>
			<span class="pull-right">
				<%= link_to content_tag(:strong, "Edit Album Info"), edit_mc_route(@album), :class => "btn btn-mini btn-info" %>
				<%= link_to "Back to Portfolio", portfolio_route(@album.role), :class => "btn btn-mini btn-info" %>

				<%= link_to("Delete", media_collection_path(@album), :method => :delete, :confirm => "Are you sure you want to delete this album?", :class => "btn btn-mini btn-danger") unless @album.quickshow or @album.headshot %>

				
			</span>
		</h3>
	<hr />
	<div class="row-fluid">
		<div class="span6">
			<h4> Description </h4>
			<p><%= @album.description %></p>
		</div>
		<div class="span6">
			<%= form_for @media_asset, :html => {:class => "form well"} do |f| %>
				<%= f.label "Upload new media to this album: " %>
				<%= f.file_field :media, :class=>"input-file" %>
				
				<% unless @album.headshot %>
				<%= f.label "Or, paste a youtube link here: " %>
				<%= f.text_field :youtube_id %>
				
				<%= f.label "Or, paste a Soundcloud link here:" %>
				<%= f.text_field :soundcloud_id %>
				<% end %>

				<%= f.label :description %>
				<%= f.text_field :description %>

				<%= f.hidden_field :media_collection_id %>
				<%= f.submit "Upload file", :class => "btn btn-mini" %>
			<% end %>
		</div>
	</div>
			

	
	<hr />
	
	<% for group in @grouped_media_assets %>
		<div class="row-fluid">
			<% for asset in group %>
				<div class="span2">
					<div class="well ir-media-thumbnail">
					<% if asset.image? %>
						<%= link_to image_tag(asset.media.url(:thumb)), media_route(asset) %>
					<% elsif asset.video? %>
						<%= link_to image_tag("video_thumb.png"), media_route(asset) %>
					<% elsif asset.audio? %>
					  <%= link_to image_tag("audio_thumb.png"), media_route(asset) %>
					<% end %>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
		
<% end %>
