<% if current_user.uid == @user.uid %>
    <h1>Welcome to IndieReel, <%= current_user.first_name %>!</h1>
    <h2>Roles</h2>    
    <% if !@roles.empty? %>
        <!--<%= form_tag user_path(current_user.id) do %>
	        <select name="role_type">
		        <% for role in @roles do %>
			        <option value="<%= role.role_type %>"><%= role.role_type %></option>
		        <% end %>
	        </select>
	        <input type="submit" value="Update Default Role">
        <% end %>-->
		<div class="container-fluid">
			<ul>
				<% for role in @roles do %>
					<div class="row-fluid">
						<li class="role">
							<!-- need to tag image so that it is on the left and all the text is on the right -->
							<%= link_to image_tag("default_role_pic.jpg"), role_route(role) %><br />
							<%= link_to "#{role.role_type}: #{role.role_name}", role_route(role) %><br />
							<%= link_to "Edit", role_route(role, "edit") %><br />
							<%= link_to "Projects", projects_route(role) %><br />
							<%= link_to "Portfolio", portfolio_route(role) %><br />
						</li>
					</div>
				<% end %>
			</ul>
		</div>
		
        <%= link_to "Add a role", new_role_path, :id => :add_role %>
    <% else %>
        <p>You have no roles. <%= link_to "Create one?", new_role_path %></p>
    <% end %>
<% else %>
    <h1>You're on <%= @user.name %>'s Profile!</h1>
	<!-- link to default profile here, or if there's a parameter to a specific profile, do that instead -->
<% end %>
