<% if current_user.uid == @user.uid %>
    <h1>Welcome to IndieReel, <%= current_user.first_name %>!</h1>
    <% if @roles.empty? %>
        <p>You have no roles. <%= link_to "Create one?", new_role_path %></p>
    <% else %>
        <ul>
            <% for role in @roles do %>
                <li><%= link_to "Your profile as a(n) #{role.name}", role_route(role) %></li>
            <% end %>
            <li><%= link_to "Add a role", new_role_path %></li>
        </ul>
    <% end %>
<% else %>
    <h1>You're on <%= @user.name %>'s Profile!</h1>
<% end %>
<%= link_to "Logout", logout_path %>