<div class="container">
  <% if current_user.uid == @user.uid %>
    <hr />
    <h2>Welcome to IndieReel, <%= current_user.first_name %>!</h3>
    <hr />
    <% if !@roles.empty? %>
      <div class="row-fluid">
        <h3>Your Roles
      	<% unless @roles.length == Role.options.length %>
          <small class="pull-right"><%= link_to "+ Add a role", new_role_path, :id => :add_role, :class => "btn" %></small>
        <% end %>
        </h3>
      </div>
    
    	<hr />
      <% for group in @grouped_roles %>
	      <div class="row-fluid">
		      <% for role in group %>
		        <div class="span6" id="<%= role.role_type %>">
		          <div class="row-fluid">
		          
		            <div class="span12">
			            <div class="well">
				            <h3><%= role.role_type.capitalize %><small> as <%= role.role_name %></small></h3>
				            <hr style="margin:5px 0px 10px 0px"/>
				            <div class="row-fluid">
				              <div class="span5">
				              <%= image_tag "default_role_pic.jpg", :width => 100, :height => 100, :class => "pull-left" %>
				              </div>
				              <div class="span7">
			                  <ul class="nav">
				                  <li><%= link_to "View Profile", role_route(role) %></li>
				                  <li><%= link_to "Edit Profile", role_route(role, "edit") %></li>
				                  <li><%= link_to "Portfolio", portfolio_route(role) %></li>
				                  <li><%= link_to "Projects", projects_route(role)%></li>
			                  </ul>
				              </div>
				            </div>
				            <hr style="margin:10px 0px 10px 0px" />
		                <%= button_to "Delete", role_path(role), :method => :delete, :confirm => "Are you sure you want to delete your #{role.role_type.capitalize} role?", :class => "btn btn-mini pull-right" %>
        					</div>
      					</div>
		          </div>
		        </div>
		      <% end %>
	      </div>
	    <% end %>

    <% else %>
      <p>You have no roles. <%= link_to "Create one?", new_role_path, :class => "btn btn-info btn-small" %></p>
    <% end %>
  <% else %>
    <!-- redirect_to role_routes(@default_role) -->
	  <!-- link to default profile here, or if there's a parameter to a specific profile, do that instead -->
  <% end %>
</div>
