<script type="text/javascript">
$(function(){
  $("#name").tooltip();
  $("#roledescr").tooltip();
})
</script>

<%= form_tag role_path(@role.id), :method => 'put' do %>
  <hr />
  <div class="row-fluid">
    <div class="span6">
      <h3>Editing <%= @role.role_type.capitalize %> Profile</h3>
    </div>
    <div class="span6">
      <small class="pull-right">
        <input type="submit" value="Update Role" class="btn btn-primary"> <%= link_to "Cancel", role_route(@role), :class => "btn" %>
      </small>
    </div>
  </div>
  <hr />
  <small>* Required Field</small>
  <br/>
  <br/>
  
  <div class="row-fluid" id="edit-role">
    <div class="span3">
		  <div class="well">
			  <%= image_tag @role.profile_pic_url, :width => 180, :height => 180 %>
		  </div>
	  </div>
    <div class="span9">
      <div class="row-fluid">
        <div class="span6">
          <%= label_tag "role[role_name]", "Stage Name: *" %>
  	      <%= text_field_tag "role[role_name]", @role.role_name, {:placeholder => "Enter your Role Stage Name"} %>
	        <a href="#" rel="tooltip" id="name" data-original-title="Have a nickname for this role?">[?]</a>
        </div>
        <div class="span6">
          <%= label_tag "role[role_type_description]", "Role Description:" %>
	        <%= text_field_tag "role[role_type_description]", @role.role_type_description, {:placeholder => "Explain your role in a few words"} %>
  	      <a href="#" rel="tooltip" id="roledescr" data-original-title="i.e. Actor, Stunts, Camera Op, etc">[?]</a>        
        </div>
      </div>
		  <div class="row-fluid">
		    <div class="photo-upload">
    		  <%= form_for @role do |f| %>
				    <%= f.label "Upload a new profile picture" %>
				    <%= f.file_field :profile_pic %>
				    <%= f.submit "Upload" %>
  		    <% end %>
		    </div>
      </div>
	  </div>
  </div>
  
  <hr />
    <h3 id="edit-basic">Basic Info</h3>
  <hr />
  <div class="row-fluid">
    <div class="span6">
      <h3>Attributes</h3>
    	<%= label_tag "role[age_range]", "Choose an Age Range" %>
      <%= select_tag "role[age_range]", options_for_select(@ages), :prompt => "Select one" %> <br>
      
      <%= label_tag "role[eyes]", "Eye Color:" %>
	    <%= text_field_tag "role[eyes]", @role.eyes, {:placeholder => "What color are your eyes?"} %> <br>
      
      <%= label_tag "role[hair]", "Hair Color:" %>
	    <%= text_field_tag "role[hair]", @role.hair, {:placeholder => "What color is your hair?"} %> <br>
	
	    <%= label_tag "role[height]", "Height:" %>
	    <%= text_field_tag "role[height]", @role.height, {:placeholder => "How tall are you?"} %> <br>
	
    	<%= label_tag "role[weight]", "Weight:" %>
	    <%= text_field_tag "role[weight]", @role.weight, {:placeholder => "How much do you weigh?"} %> <br>
	    
	    <h3>Living</h3>
	    <%= label_tag "role[location]", "Location:" %>
	    <%= text_field_tag "role[location]", @role.location, {:placeholder => "Which city do you currently live in?"} %> <br>

    </div>
    <div class="span6">
      <h3>Contact Info</h3>
      <%= label_tag "role[email]", "Email:" %>
	    <%= text_field_tag "role[email]", @role.email, {:placeholder => "Enter your email"} %> <br>
	    
	    <%= label_tag "role[phone_number]", "Phone Number:" %>
	    <%= text_field_tag "role[phone_number]", @role.phone_number, {:placeholder => "Enter your number"} %> <br>
	    
	    <h3>Agency Info</h3>
	    <%= label_tag "role[agency_name]", "Agency Name:" %>
	    <%= text_field_tag "role[agency_name]", @role.agency_name, {:placeholder => "Enter agency's name"} %> <br>
	
	    <%= label_tag "role[agency_email]", "Agency Email:" %>
	    <%= text_field_tag "role[agency_email]", @role.agency_email, {:placeholder => "Enter agency's contact email"} %> <br>
	
	    <%= label_tag "role[agency_phone_number]", "Agency Phone:" %>
	    <%= text_field_tag "role[agency_phone_number]", @role.agency_phone_number, {:placeholder => "Enter agency's contact phone number"} %> <br>
    </div>
        
  </div>
  
  <div class="row-fluid">
    <hr />
    <h3 id="edit-work">Work Related</h3>
    <hr />
    <%= label_tag "role[role_experience]", "Experience:" %>
	  <%= text_area_tag "role[role_experience]", @role.role_experience, {:placeholder => "Describe your experience in this role"} %>
	
	  <%= label_tag "role[role_skills]", "Skills:" %>
	  <%= text_area_tag "role[role_skills]", @role.role_skills, {:placeholder => "What are your skills?"} %>
  </div>
	
	<%= hidden_field_tag "role[user_id]", current_user.id %>
	
	<br><br><input type="submit" value="Update Role" class="btn btn-primary"> <%= link_to "Cancel", role_route(@role), :class => "btn" %>
<% end %>
