<%= form_tag role_path(@role.id), :method => 'put' do %>
  <hr />
  <h3>Editing Your <%= @role.role_type.capitalize %> Profile</h3>
  <hr />
  <small>* Required Field</small>
  <br/>
  <br/>
    
  <%= label_tag "role[role_name]", "Stage Name: *" %>
	<%= text_field_tag "role[role_name]", @role.role_name, {:placeholder => "Enter your Role Stage Name"} %>
	
	<%= label_tag "role[role_type_description]", "Role Description: What exactly do you do?" %>
	<%= text_field_tag "role[role_type_description]", @role.role_type_description, {:placeholder => "i.e. Actor, Camera-op, etc"} %>
	
	<%= label_tag "role[email]", "Email:" %>
	<%= text_field_tag "role[email]", @role.email, {:placeholder => "Enter your email"} %>
	
	<%= label_tag "role[phone_number]", "Phone Number:" %>
	<%= text_field_tag "role[phone_number]", @role.phone_number, {:placeholder => "Enter your number"} %> <br>
	
	<%= label_tag "role[agency_name]", "Agency Name:" %>
	<%= text_field_tag "role[agency_name]", @role.agency_name, {:placeholder => "Enter your agency's name"} %> <br>
	
	<%= label_tag "role[agency_email]", "Agency Email:" %>
	<%= text_field_tag "role[agency_email]", @role.agency_email, {:placeholder => "Enter your agency's contact email"} %> <br>
	
	<%= label_tag "role[agency_phone_number]", "Agency Phone:" %>
	<%= text_field_tag "role[agency_phone_number]", @role.agency_phone_number, {:placeholder => "Enter your agency's contact phone number"} %> <br>
  
  <%= label_tag "role[hair]", "Hair Color:" %>
	<%= text_field_tag "role[hair]", @role.hair, {:placeholder => "What color is your hair?"} %> <br>
	
	<%= label_tag "role[height]", "Height:" %>
	<%= text_field_tag "role[height]", @role.height, {:placeholder => "How tall are you?"} %> <br>
	
	<%= label_tag "role[eyes]", "Eye Color:" %>
	<%= text_field_tag "role[eyes]", @role.eyes, {:placeholder => "What color are your eyes?"} %> <br>
	
	<%= label_tag "role[weight]", "Weight:" %>
	<%= text_field_tag "role[weight]", @role.weight, {:placeholder => "How much do you weigh?"} %> <br>
  
  <%= label_tag "role[age_range]", "Choose an Age Range" %>
  <%= select_tag "role[age_range]", options_for_select(@ages), :prompt => "Select one" %>
	
	<%= label_tag "role[role_experience]", "Experience:" %>
	<%= text_area_tag "role[role_experience]", @role.role_experience, {:placeholder => "Describe your experience in this role"} %>
	
	<%= label_tag "role[role_skills]", "Skills:" %>
	<%= text_area_tag "role[role_skills]", @role.role_skills, {:placeholder => "What are your skills?"} %>
	
	<!--
	<%= label_tag "role[physique]", "Physique:" %>
	<%= text_area_tag "role[physique]", @role.physique, {:placeholder => "Are you my brown eyed girl?"} %>
	-->
	
	<%= hidden_field_tag "role[user_id]", current_user.id %>
	
	<br><br><input type="submit" value="Update Role" class="btn btn-primary"> <%= link_to "Cancel", role_route(@role), :class => "btn" %>
<% end %>
