<%= content_for :title do %>
  Create Profile | IndieReel
<% end%>

<%= form_tag roles_path do %>
  <hr>
  
  <h3>Create a New Role</h3>
  
  <hr>
  
  <small>* Required Field</small>
  
  <br>
  
  <br>
  
	<%= label_tag "role[role_type]", "Choose a Role Type" %> 
	<%= select_tag "role[role_type]", options_for_select(@options) %> 
	
	<div id="myModal" class="modal hide fade">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" >&times;</a>
      <h3>What are each of these roles?</h3>
    </div>
    
    <div class="modal-body">
      <h4>Director</h4>
        <ul>
          <li>Directs crew and actors during filmmaking</li>
        </ul>
      <h4>Producer</h4>
        <ul>
          <li>Oversees and delivers film project to all relevant hosts</li>
          <li>Preserves integrity, voice, and vision of film</li>
        </ul>
      <h4>Crew</h4>
        <ul>
          <li>Anyone behind the camera</li>
        </ul>
      <h4>Talent</h4>
        <ul>
          <li>Anyone in front of the camera</li>
        </ul>
      <br>
      <p>*Want to know more about roles? Visit our <%= link_to "help page", help_path(:anchor => "roles") %> for additional information. </p>
    </div>
    
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>
  
  <a data-toggle="modal" href="#myModal">[?]</a>

	<%= label_tag "role[role_name]", "Stage Name: *" %>
	<%= text_field_tag "role[role_name]", @user.name, {:placeholder => "Enter your Role Stage Name"} %>
	
	<%= label_tag "role[role_type_description]", "Role Description: What exactly do you do?" %>
	<%= text_field_tag "role[role_type_description]", nil, {:placeholder => "i.e. Actor, Camera-op, etc"} %>

<!--	<%= label_tag "role[email]", "Email:" %>
	<%= text_field_tag "role[email]", @user.email, {:placeholder => "Enter your email"} %>
	
	<%= label_tag "role[phone_number]", "Phone Number:" %>
	<%= text_field_tag "role[phone_number]", nil, {:placeholder => "Enter your number"} %><br>
  
	<%= label_tag "role[agency_name]", "Agency Name:" %>
  <%= text_field_tag "role[agency_name]", nil, {:placeholder => "Enter your agency's name"} %><br>
  
  <%= label_tag "role[agency_email]", "Agency Email:" %>
  <%= text_field_tag "role[agency_email]", nil, {:placeholder => "Enter your agency's contact email"} %><br>
  
  <%= label_tag "role[agency_phone_number]", "Agency Phone:" %>
  <%= text_field_tag "role[agency_phone_number]", nil, {:placeholder => "Enter your agency's contact phone number"} %><br>
  
  <%= label_tag "role[hair]", "Hair Color:" %>
	<%= text_field_tag "role[hair]", nil, {:placeholder => "What color is your hair?"} %><br>
	
	<%= label_tag "role[height]", "Height:" %>
	<%= text_field_tag "role[height]", nil, {:placeholder => "How tall are you?"} %><br>
	
	<%= label_tag "role[eyes]", "Eye Color:" %>
	<%= text_field_tag "role[eyes]", nil, {:placeholder => "What color are your eyes?"} %><br>
	
	<%= label_tag "role[weight]", "Weight:" %>
	<%= text_field_tag "role[weight]", nil, {:placeholder => "How much do you weigh?"} %> <br>
  
  <%= label_tag "role[age_range]", "Choose an Age Range" %>
  <%= select_tag "role[age_range]", options_for_select(@ages), :prompt => "Select one" %>
	
	<%= label_tag "role[role_experience]", "Experience:" %>
	<%= text_area_tag "role[role_experience]", nil, {:placeholder => "Describe your experience in this role"} %>
	
	<%= label_tag "role[role_skills]", "Skills:" %>
	<%= text_area_tag "role[role_skills]", nil, {:placeholder => "What are your skills?"} %>
	
	<%= label_tag "role[physique]", "Physique:" %>
	<%= text_area_tag "role[physique]", nil, {:placeholder => "Are you my brown eyed girl?"} %>
	-->
	
	<%= hidden_field_tag "role[user_id]", current_user.id %>
	
	<br><br><input type="submit" value="Create Role" class="btn btn-primary"> <%= link_to "Cancel", home_path(@user.identifier), :class => "btn" %>
<% end %>

