<%= form_tag roles_path do %>
	Select a Role:
	<select name="role[role_type]">
		<% for option in @options do %>
			<option value="<%= option %>"><%= option %></option>
		<% end %>
	</select>
	<%= label_tag :role_name, "Stage Name: " %>
	<%= text_field_tag "role[role_name]", nil, :placeholder=>"Enter your Role Stage Name" %>
	<%= label_tag :role_type_description, "Role Description: " %>
	<%= text_field_tag "role[role_type_description]", nil, :placeholder=>"What exactly do you do?" %>
	<%= label_tag :email, "Email: " %>
	<%= text_field_tag "role[email]", nil, :placeholder=>"Enter your email" %>
	<%= label_tag :phone_number, "Phone Number: " %>
	<%= text_field_tag "role[phone_number]", nil, :placeholder=>"Enter your number" %> <br/>
  Age:
  <select name="role[age_range]">
		<% for age in @ages do %>
			<option value="<%= age %>"><%= age %></age>
		<% end %>
	</select>
	<%= label_tag :role_experience, "Experience: " %>
	<%= text_field_tag "role[role_experience]", nil, :placeholder=>"Describe your experience in this role" %>
	<%= label_tag :role_skills, "Skills: " %>
	<%= text_field_tag "role[role_skills]", nil, :placeholder=>"What are your skills?" %>
	<%= label_tag :physique, "Physique: " %>
	<%= text_field_tag "role[physique]", nil, :placeholder=>"Are you my brown eyed girl?" %>
	<%= hidden_field_tag "role[user_id]", current_user.id %>
	<input type="submit" value="Create role.">
<% end %>
<%= link_to "Cancel", home_path(@user.username) %>
