<%= form_tag roles_path do %>
  
  <h4>A star (*) denotes a field that can't be left empty.</h4><br>
  
	<%= label_tag "role[role_type]", "Choose a Role Type" %>
	<%= select_tag "role[role_type]", options_for_select(@options) %>

	<%= label_tag "role[role_name]", "Stage Name: (*)" %>
	<%= text_field_tag "role[role_name]", @user.name, {:placeholder => "Enter your Role Stage Name"} %>
	
	<%= label_tag "role[role_type_description]", "Role Description: What exactly do you do?" %>
	<%= text_field_tag "role[role_type_description]", nil, {:placeholder => "i.e. Actor, Camera-op, etc"} %>
	
	<%= label_tag "role[email]", "Email:" %>
	<%= text_field_tag "role[email]", @user.email, {:placeholder => "Enter your email"} %>
	
	<%= label_tag "role[phone_number]", "Phone Number:" %>
	<%= text_field_tag "role[phone_number]", nil, {:placeholder => "Enter your number"} %> <br/>
  
  <!-- agency -->
  
  <%= label_tag "role[age_range]", "Choose an Age Range" %>
  <%= select_tag "role[age_range]", options_for_select(@ages), :prompt => "Select one" %>
	
	<%= label_tag "role[role_experience]", "Experience:" %>
	<%= text_area_tag "role[role_experience]", nil, {:placeholder => "Describe your experience in this role"} %>
	
	<%= label_tag "role[role_skills]", "Skills:" %>
	<%= text_area_tag "role[role_skills]", nil, {:placeholder => "What are your skills?"} %>
	
	<%= label_tag "role[physique]", "Physique:" %>
	<%= text_area_tag "role[physique]", nil, {:placeholder => "Are you my brown eyed girl?"} %>
	
	<%= hidden_field_tag "role[user_id]", current_user.id %>
	
	<br><br><input type="submit" value="Create Role" class="btn btn-primary"> <%= link_to "Cancel", home_path(@user.identifier), :class => "btn" %>
<% end %>

