<div class="container">
  <%= form_tag search_path, :method => :get do %>
  
  <h2>Search</h2>
  
  <p>
    <%= text_field_tag :query, params[:query] %> <%= submit_tag "Search" %>
  </p>
  <% end %> 

  <% unless @search_results.nil? %>
    <h2>Results</h2>
    
    <% unless @search_results.empty? %>
      <table>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Location</th>
          <th>Email</th>
        </tr>
        <% for result_item in @search_results %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td><%= result_item.role_name %></td>
            <td><%= result_item.role_type %></td>
            <td><%= result_item.location %></td>
            <td><%= result_item.email %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p>Your query returned no results.</p>
    <% end %>
  <% end %>

</div>
