<%= content_for :title do %>
  Search | IndieReel
<% end%>


<div class="container">
  <%= form_tag search_path, :method => :get do %>
  
  <h2>Search</h2>
  <div class="row-fluid">
  <div class="span12">
  <div class="well">
    <!-- <label>Select a role to search for:</label> -->
			<!-- 	<select name="filter"> -->
				<!-- 	<option name="talent">Talent</option> -->
				<!-- 	<option name="director">Director</option> -->
				<!-- 	<option name="producer">Producer</option> -->
				<!-- 	<option name="crew">Crew</option>				 -->	
				<!-- </select> -->
				
      <div class="row-fluid">
      <input type="checkbox" name = check1 value = talent <%= @selected.include?("talent") ? "checked" : "" %>> Talent


      <input type="checkbox" name = check2 value = director <%= @selected.include?("director") ? "checked" : "" %>> Director   


      <input type="checkbox" name = check3 value = producer <%= @selected.include?("producer") ? "checked" : "" %>> Producer


      <input type="checkbox" name = check4 value = crew <%= @selected.include?("crew") ? "checked" : "" %>> Crew   
    </div>
    <div class="row-fluid">
    <%= text_field_tag :query, params[:query] %>

    <%= submit_tag "Search" %>
    </div>

  </div>
  </div>
  </div>
  <% end %> 

  <% unless @search_results.nil? %>
    <h2>Results</h2>
    
    <% unless @search_results.empty? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Profile</th>
            <th>Name</th>
            <th>Role</th>
            <th>Location</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% for result_item in @search_results %>
            <tr class="<%= cycle('odd', 'even') %>">
              <td><%= image_tag result_item.profile_pic_url, :width => 50, :height => 50 %></td>
              <td><%= link_to result_item.role_name, role_route(result_item) %></td>
              <td><%= result_item.role_type.capitalize %></td>
              <td><%= result_item.location %></td>
              <td><%= result_item.email %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>Your query returned no results.</p>
    <% end %>
  <% end %>

</div>
