<% if current_user.uid == @user.uid %>
    <h1>This is your <%= @role.name %> page, <%= current_user.first_name %>!</h1>
    <ul>
        <li><%= link_to "Your portfolio as a(n) #{@role.name}", :controller => "portfolios", :role => @role.name, :identifier => current_user.identifier %></li>
        <li><%= link_to "Projects you've worked on as a(n) #{@role.name}", :controller => "projects", :role => @role.name, :identifier => current_user.identifier %></li>
    </ul>
	<%= button_to 'Delete this Role', role_path(@role), :method => :delete, :confirm => 'Are you sure you want to delete this role?' %>
<% else %>
    <h1>You're on <%= @user.name %>'s <%= @role %> page!</h1>
    <ul>
    <li><%= link_to "#{@user.name}'s' portfolio as a(n) #{@role.name}", :controller => "portfolios", :role => @role.name, :identifier => @user.identifier %></li>
    <li><%= link_to "Projects #{@user.name} has worked on as a(n) #{@role.name}", :controller => "projects", :role => @role.name, :identifier => @user.identifier %></li>
    </ul>
<% end %>
<%= link_to "Logout", logout_path %>