<div class="container">
  <hr />
  
  <div class="row-fluid">
    <div class="span3">
      <h1><%= @role.role_name %></h1>
    </div>
    
    <div class="span6">
      <h2><%= @role.role_type.capitalize %></h2>
      <dd><%= @role.role_type_description %></dd>
    </div>
    
    <div class="span3">
      <% if current_user.uid == @user.uid %>
        <small class="pull-right">
          <%= link_to "Edit Role", role_route(@role, 'edit') %> | 
          <%= link_to "Delete Role", role_path(@role), :method => :delete, :confirm => 'Are you sure you want to delete this role?' %>
        </small>
      <% end %>  
    </div>
    
  </div>
  
  <hr />
  
  <div class="row-fluid">
    <div class="span3">
		  <div class="well">
			  <%= image_tag "default_role_pic.jpg", :width => 180, :height => 180 %>
		  </div>
	  </div>
	  
	  <div class="span9">
		  <section id="contact-info">
		    <h3>Contact Information</h3>
			  <ul class="unstyled">
		  	  <li><strong>Email: </strong><%= @role.email %></li>
				  <li><strong>Phone: </strong><%= @role.phone_number %></li>
			  </ul>
			  <hr />	  
		  </section>
		  
		  <section id="description">
	  	  <h3>Description</h3>
			  <ul class="unstyled">
				  <li><strong>Age Range: </strong> <%= @role.age_range %>
				  <li><strong>Physique: </strong> <%= @role.physique %></li>
			  </ul>
			  <hr />
		  </section>
		  
		  <section id="projects">
			  <h3>Projects<small class="pull-right"><%= link_to "View all projects", projects_route(@role) %></small></h3>
			  <hr />
		  </section>
		  
		  <section id="experience">
				  <h3>Experience</h3>
				  <%= @role.role_experience %>
				  <hr />
		  </section>
		  
		  <section id="skills">
				  <h3>Skills</h3>
				  <%= @role.role_skills %>
				  <hr />
		  </section>
		  
		  <section id="portfolio">
				  <h3>Portfolio<small class="pull-right"><%= link_to "View full portfolio", portfolio_route(@role) %></small></h3>
				  <hr />
		  </section>
	  </div>
  </div>
</div>
