<% def private_mode_conditional %>
  <% current_user.uid == @user.uid %>
<% end %>

<div class='container'>
  <% if private_mode_conditional %>
    <%= render "role_config", :preview => @preview, :role => @role %>
  <% end %>
  
  <hr>
  
  <div class='row-fluid'>
    <%= render "role_header", :preview => @preview, :private_mode_conditional => private_mode_conditional, :cur_role => @role, :user => @user %>
  </div>
  
  <hr>

  <div class="row-fluid">
    <div class="span3">
	    <div class="well">
		    <%= image_tag @role.profile_pic_url, :width => 180, :height => 180 %>
		    
		    <% if private_mode_conditional && !@preview %>
		      <hr>
		      
		      <%= form_for @role do |f| %>
				    <%= f.label "Upload a new profile picture" %>
				    <%= f.file_field :profile_pic %>
				    <%= f.submit "Upload" %>
		      <% end %>
		    <% end %>
	    </div>
    </div>
    
    <div class="span9">
      <div class="row-fluid">
         <%= render "headshots", :preview => @preview, :private_mode_conditional => private_mode_conditional, :headshot => @headshot %>
      </div>
      
	    <h3>
	      <em>Basic Info</em>
	      <% if private_mode_conditional && !@preview %>
	        <small class="pull-right"><%= link_to "Edit", edit_role_route(@role, "basic-info") %></small>
        <% end %>
      </h3>
	    
	    <% if !@attbool.has_value?(true) && @preview %>
        This user has not put in any basic information.
      <% elsif !@attbool.has_value?(true) && !private_mode_conditional %>
        This user has not put in any basic information.
      <% else %>
        <hr>
        <div class="row-fluid">
          <div class="span6">
            <section id="attributes">
              <% if @attbool[:physical] || !@preview %>
            	  <h3>Attributes</h3>
          	  <% end %>
          	  
	            <ul class="unstyled">
	              <% for symbolVar, varName in Role.physical_attributes %>
	                <% if private_mode_conditional && !@preview %>
	                  <li><strong><%= varName %>: </strong><%= @role[symbolVar] %></li>
	                <% else %>
	                  <% unless @role[symbolVar].empty? %>
      		            <li><strong><%= varName %>: </strong><%= @role[symbolVar] %></li>
	                  <% end %>
	                <% end %>
                <% end %>
	            </ul>
            </section>
	          
	          
	          <section id="living">
	            <% if @attbool[:living] %>
    	          <h3>Living</h3>
    	        <% elsif @preview || !private_mode_conditional %>
	            <% end %>
	            
              <ul class="unstyled">
                <% for symbolVar, varName in Role.living_attributes %>
                  <% if private_mode_conditional && !@preview %>
	                  <li><strong><%= varName %>: </strong><%= @role[symbolVar] %></li>
	                <% else %>
	                  <% unless @role[symbolVar].empty? %>
      		            <li><strong><%= varName %>: </strong><%= @role[symbolVar] %></li>
	                  <% end %>
	                <% end %>
                <% end %>
	            </ul>
	          </section>
	          
	        </div>
	        
	        <div class="span6">
	          <section id="contact-info">
	            <% if @attbool[:contact] || !@preview %>
	              <h3>Contact Information</h3>
              <% end %>
	            
	            <ul class="unstyled">
		            <% for symbolVar, varName in Role.contact_attributes %>
		              <% if private_mode_conditional && !@preview %>
		                <li><strong><%= varName %>: </strong><%= @role[symbolVar] %></li>
		              <% else %>
		                <% unless @role[symbolVar].empty? %>
      		            <li><strong><%= varName %>: </strong><%= @role[symbolVar] %></li>
		                <% end %>
		              <% end %>
	              <% end %>
	            </ul>
	          </section>
	          
	          <section id="agency-info">
	            <% if @attbool[:agency] || !@preview %>
	              <h3>Agency Information</h3>
              <% end %>
	            
	            <ul class="unstyled">
	              <% for symbolVar, varName in Role.agency_attributes %>
		              <% if private_mode_conditional && !@preview %>
		                <li><strong><%= varName %>: </strong><%= @role[symbolVar] %></li>
		              <% else %>
		                <% unless @role[symbolVar].empty? %>
      		            <li><strong><%= varName %>: </strong><%= @role[symbolVar] %></li>
		                <% end %>
		              <% end %>
	              <% end %>
	            </ul>
	          </section>
	        </div>
	      </div>
	    <% end %>
	    <hr>
	    
	    <div class="row-fluid">
	      <section id="experience">
		      <%= render "work_related", :work => "experience", :preview => @preview, :private_mode_conditional => private_mode_conditional, :role => @role %>
  	      <hr>
	      </section>
	      
	      <section id="skills">
	        <%= render "work_related", :work => "skills", :preview => @preview, :private_mode_conditional => private_mode_conditional, :role => @role %>
  	      <hr>
	      </section>
	    </div>
	    
	    <div class="row-fluid">
	      <section id="portfolio">
	        <h3>
	          <em>Portfolio</em>
            <small class="pull-right"><%= link_to "View full portfolio", portfolio_route(@role) %></small>
          </h3>
	        
	        <hr>
	        
	        <% if @portfolio_album.nil? and private_mode_conditional and !@preview %>
	          You have no albums. <%= link_to "Create one?", new_media_collection_path(:role => @role.role_type), :class => "btn btn-info btn-mini" %>
	        <% elsif @portfolio_album.nil? %>
	          This user doesn't have a portfolio yet.
	        <% else %>
	          <div class="row-fluid">
	            <% for asset in @portfolio_album.media_assets.first(4) %>
	              <div class="span3">
	                <%= render "shared/thumbnail", :asset => asset %>
	            	</div>
	            <% end %>
	          </div>
	        <% end %>
	        
	        <hr>
	      </section>
	      
	      <section id="projects">
		      <h3>
		        <em>Projects</em>
		        <small class="pull-right"><%= link_to "View all projects", projects_route(@role) %></small>
          </h3>
		      
		      <hr>
	      </section>    
	    </div>
	    
    </div>
  </div>
</div>
