<!DOCTYPE html>
<html>
<head>
  <title>Indiereel</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>
</head>
<body>
<div id="navbar-container">	
<div id="navbar">
	<div id="right">
		<%= link_to "Logout", logout_path %>
	</div>
	<ul>
		<li><img src="<%= current_user.image %>">
		<li><%= current_user.name %></li>
		<li><a href="#">Search</a></li>
	</ul>			
</div>
</div>

<%= yield %>

</body>
</html>
