<!DOCTYPE html>
<html>
<head>
  <title>Indiereel</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>
</head>
<body>
<div id="navbar-container">	
	<div id="navbar">
		<div id="right">
			<%= link_to "Logout", logout_path %>
		</div>	
		<div id="logo">
			<h2>INDIEREEL</h2>
		</div>
		<ul>
			<li id="role-link"><%= current_user.roles[0].name %>:</li>
			<li><%= link_to "Edit", role_route(current_user.roles[0], "edit") %></li>
			<li><%= link_to "Portfolio", portfolio_route(current_user.roles[0]) %></li>
			<li><%= link_to "Projects", projects_route(current_user.roles[0]) %></li>
		</ul>		
	</div>
</div>

<%= yield %>

</body>
</html>
