<!DOCTYPE html>
<html>
<head>
  <title>Indiereel</title>
  <%= stylesheet_link_tag    "application" %>
  <style>body { padding-top: 55px}</style>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>
</head>
<body>
<%= render "navbar" %>
<div class="container">
<%= yield %>
</div>
<%= render "footer" %>

</body>
</html>
