<!DOCTYPE html>
<html>
<head>
  <title>Indiereel</title>
  <%= stylesheet_link_tag    "application" %>
  <style>body { padding-top: 70px}</style>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>
</head>
<body>
	
	<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	      <div class="container">
				<a class="brand" href="#">IndieReel</a>
				<ul class="nav">
					<li><img src="<%= current_user.image %>" height="40" width="40"></li>
				  <li class="active dropdown">
				  		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b>&nbsp;<strong><%= (@role.nil? ? current_user.roles[0].role_type : @role.role_type).capitalize %>:</strong></a>
						<ul class="dropdown-menu">
							<% for role in current_user.roles %>
								<li><%= link_to role.role_type.capitalize, role_route(role) %></li>
							<% end %>
						</ul>
				  </li>
				  <li><%= link_to "Edit", role_route((@role.nil? ? current_user.roles[0] : @role), "edit") %></li>
				  <li><%= link_to "Portfolio", portfolio_route((@role.nil? ? current_user.roles[0] : @role)) %></li>
				  <li><%= link_to "Projects", projects_route((@role.nil? ? current_user.roles[0] : @role)) %></li>
				<li class="divider-vertical"></li>
				<li><a href="#">Search for People</a></li>
				</ul>
				<ul class="nav pull-right">
					<li><%= link_to "Logout", logout_path %></li>
				</ul>
	      </div>
	    </div>
	</div>
<div class="container">
<%= yield %>
</div>

</body>
</html>
